{
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "compilerOptions": {
    "target": "ES6",
    "module": "commonjs"
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-underscore-dangle": "off"
  },
  "plugins": [
  ]
}
